.input {
  flex: 1;
  position: relative;
}

.input-text__container {
  width: 100%;
  position: relative;
  flex: 1;
}

.input-text {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: var(--font-size-1);
  overflow-wrap: break-word;
}

#input-text--mirror {
  background-color: var(--light-blue-300);
  color: var(--dark-blue-300);
  overflow: hidden;
}

#input-text--original {
  background-color: transparent;
  -webkit-text-fill-color: transparent;
  resize: none;
  outline: none;
  scrollbar-gutter: stable;
  /* scrollbar-gutter: stable both-edges; */
  /* width: calc(100% + 26px);
  padding-right: 18px; */
}

#input-text--original::placeholder {
  color: var(--light-blue-300);
  -webkit-text-fill-color: var(--light-blue-500);
}

#input-text--original::selection {
  -webkit-text-fill-color: var(--white);
}

.input__info {
  opacity: 0;
}

.with-errors {
  opacity: 1;
}

.input__buttons {
  margin-top: var(--margin-v11);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-5);
}

@media (min-width: 56.25em) {
  .input__buttons {
    flex-direction: row;
    gap: var(--gutter-5);
  }
  .input__buttons .button {
    flex: 1;
  }
}

span {
  position: relative;
}

.invalid {
  font-weight: 400;
  color: red;
}

/* .input-text__container {
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}

#input-text--original {
  overflow: hidden;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
#input-text--original::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#input-text--original {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
