.button {
  padding: 2.35rem;
  font-size: var(--font-size-3);
  border-radius: var(--border-radius-2);
  border: var(--border-size-1) solid var(--dark-blue-300);
  cursor: pointer;

  //flex-grow: 1;
  flex: 1;
  min-width: min-content;
}

.button--primary {
  background-color: var(--dark-blue-300);
  color: var(--white);
}

.button--secondary {
  background-color: var(--light-blue-100);
  color: var(--dark-blue-300);
}

.button--gray {
  background-color: var(--dark-blue-300);
  color: var(--white);
}

.button--neutral {
  background-color: var(--white);
  color: var(--dark-blue-300);
}
