body {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.6rem;
  gap: 1.3rem;
}

header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6.3rem;
}

footer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  padding-top: 2.4rem;
}

// min-width: 720px
@media (min-width: 45em) {
  body {
    padding: 4rem;
    gap: 5.4rem;
  }

  header {
    margin-top: 3.2rem;
    margin-bottom: 0;
  }

  /* main {
    gap: 6.4rem;
  } */
}

// min-width: 880px
@media (min-width: 55em) {
  header {
    position: absolute;
    margin: 0;
  }

  /* main {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: normal;
    width: 100%;
  } */
}

/* @media (min-width: 65em) {
  main {
    //margin-left: 20rem;
    gap: 8rem;
  }
} */

// BEFORE HELPER
/* 
body {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.6rem;
  gap: 1.6rem;
}

header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-bottom: -0.4rem;
  //flex-basis: min-content;
  //flex-basis: 4.8rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6.3rem;
  padding-top: 6.4rem;
}

footer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  padding-top: 4.8rem;
}

// min-width: 720px
@media (min-width: 45em) {
  body {
    padding: 4rem;
    gap: 6.4rem;
  }

  header {
    margin-top: 3.2rem;
    margin-bottom: 0;
  }

  main {
    padding-top: 5.5rem;
  }
}

// min-width: 880px
@media (min-width: 55em) {
  body {
    //flex-direction: row;
  }

  header {
    position: absolute;
    margin: 0;
  }

  main {
    flex-direction: row;
    padding-top: 0;
    //gap: 1rem;
    gap: normal;
    justify-content: space-between;
    //justify-content: center;
    max-width: 100%;
  }
}
@media (min-width: 65em) {
  main {
    //margin-left: 20rem;
    gap: 8rem;
  }
} */

// ORIGINAL
/* .main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: var(--margin-v10) var(--margin-h5);
  row-gap: var(--gutter-2);

  min-height: 100vh;
}

.logo-container {
  margin-bottom: var(--margin-v11);
  width: 12rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-2);
}

.output-section {
  margin-left: calc(var(--margin-v8) - var(--margin-v11));
  margin-right: calc(var(--margin-v8) - var(--margin-v11));
  margin-bottom: calc(var(--margin-v8) - var(--margin-v10));
}

@media (min-width: 40.625em) {
  .main {
    padding: var(--margin-v8);
    padding-top: var(--margin-v6);
    row-gap: var(--gutter-2);
  }

  .logo-container {
    margin-bottom: calc(var(--margin-v4) - var(--gutter-2));
  }

  .output-section {
    margin: 0;
  }
}

@media (min-width: 83.125em) {
  .main {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "logo . output"
      ". input output"
      ". input output";
    row-gap: var(--gutter-2);
    column-gap: var(--gutter-1);

    padding-top: var(--margin-v8);
  }
  .logo-container {
    text-align: center;
    grid-area: logo;
    margin-bottom: var(--margin-v10);
  }
  .input-section {
    grid-area: input;
    padding-bottom: var(--margin-v9);
  }
  .output-section {
    grid-area: output;
    max-width: 40rem;
  }
}
 */
