/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./../fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./../fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./../fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*Tipography*/
  --font-family-default: Inter, Arial, Helvetica, sans-serif;
  --font-size-1: 3.2rem;
  --font-size-2: 2.4rem;
  --font-size-3: 1.6rem;
  --font-size-4: 1.2rem;
  /* Colors */
  --color-secondary: #f3f5fc;
  --color-primary: #0a3871;
  --color-neutral-light: #dbdde3;
  --color-neutral-dark: #495057;
  --color-highlight-light: #ffffff;
  --color-highlight-dark: #343a40;
  /* Shadows */
  --shadow-1: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  --shadow-2: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);

  scrollbar-base-color: var(--color-secondary);
  scrollbar-color: var(--color-primary) var(--color-secondary);
  scrollbar-arrow-color: red;
  scrollbar-face-color: purple;

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
    border-radius: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
  }

  &::-webkit-scrollbar-track:hover {
    background-color: var(--color-secondary);
  }

  &::-webkit-scrollbar-button {
    visibility: none;
  }

  &::-webkit-scrollbar {
    width: 2em;
    height: 1em;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-default);
  background-color: var(--color-secondary);
}

.wrapper {
  max-width: 136rem;
  margin: auto;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
  padding: 2.4rem 1.6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 1.6rem;
  transition: padding 0.5s ease-in-out;
  @media (min-width: 768px) {
    padding: 4rem;
  }
}

header {
  @media (min-width: 55em) {
    display: grid;
    grid-template-columns: 1fr minmax(40%, 680px) minmax(6%, 8rem) minmax(
        20%,
        400px
      ); // 8%
    grid-template-areas: "logo blank blank blank";
    grid-template-rows: 1fr;
    justify-content: right;
  }
}

.logo-container {
  display: flex;

  @media (min-width: 55em) {
    grid-area: logo;
    justify-self: center;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "input"
    "output";
  row-gap: 6.4rem;

  @media (min-width: 55em) {
    grid-template-columns: minmax(40%, 680px) minmax(20%, 400px);
    grid-template-rows: 1fr;
    grid-template-areas: "input output";
    column-gap: 8%;
    justify-content: right;
  }

  @media (min-width: 68em) {
    column-gap: 8rem;
  }
}

.input-section {
  grid-area: input;
  display: grid;
  grid-template-rows: 1fr auto;
  @media (min-width: 68em) {
    max-width: 68rem;
  }
}

.output-section {
  background-color: var(--color-highlight-light);
  grid-area: output;
  @media (min-width: 68em) {
    max-width: 40rem;
  }
}

.input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 6.4rem 0;

  &__textbox {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    max-height: 45vh;
    font-size: var(--font-size-1);
    /*  */
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: scroll;
    &--mirror {
    }
    &--original {
      resize: none;
      border: none;
    }
  }
}

.container {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: var(--font-size-4);
  @media (min-width: 55em) {
    padding-bottom: 3.2rem;
  }
}

.error {
  display: flex;
  gap: 0.25em;
  &__icon {
  }
  &__message {
  }
}

footer {
  text-align: center;
  font-size: var(--font-size-4);
}

.hidden {
  display: none;
}

/* @media (min-width: 800px) {
  .output__image {
    display: block;
  }
}*/

.attributions {
  &__description {
  }
  &__link {
  }
}
.button {
  font-family: inherit;
  font-size: var(--font-size-3);
  padding: 2.4rem;
  border-radius: 24px;
  flex: 1;
  border: none;
  &--primary {
    background-color: var(--color-primary);
    color: var(--color-highlight-light);
    &:hover,
    &:active {
      background-color: #072b61;
    }
  }
  &--secondary {
    background: none;
    border: 1px solid var(--color-primary);
    color: 1px solid var(--color-primary);
    &:hover,
    &:active {
      background-color: #eff1fa;
    }
  }
}

.helper {
}

.input-section {
  & .button-container {
    flex-direction: column;
    gap: 2.4rem;

    @media (min-width: 30em) {
      flex-direction: row;
    }
  }
}
.invisible {
}
.logo {
  &--alura {
  }
}

.output {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  height: 100%;
  align-items: center;
  &__description {
    font-size: var(--font-size-3);
  }
  &__image {
    display: none;
    @media (min-width: 68em) {
      display: block;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    text-align: center;
  }
  &__result {
    font-size: var(--font-size-2);
  }
  &__title {
    font-size: var(--font-size-2);
  }
  &--failure {
    justify-content: center;
  }
  &--success {
    justify-content: space-between;
  }
}
.button-container {
  width: 100%;
  display: flex;
}

.output.hidden {
  display: none;
}

.output-section {
  padding: 3.2rem;
  border-radius: 32px;
  box-shadow: var(--shadow-1);
}

.input__textbox--original {
  font-family: var(--font-family-default);
  background-color: transparent;
  -webkit-text-fill-color: transparent;
}

.input__textbox--original::placeholder {
  color: var(--color-primary);
  -webkit-text-fill-color: var(--color-primary);
}

.input__textbox--original::selection {
  -webkit-text-fill-color: var(--color-highlight-light);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-highlight-light);
}

.invalid {
  font-weight: 400;
  color: red;
}
